#header{
      background-image: url("./img1.jpg");
      height:490px;
      padding-top: 8%;  
    text-align: center;
    color: white;
    font-size: smaller
}


body{
    text-align: center;
    font-size: x-small;
}
.services{
    background-image: url("./img2.jpg");
     height:170px;
    text-align: center;
    color: white;
    font-size: small;
    padding-top: 7%;
}

#img1{
    text-align: left;
    font-size: smaller;

    
   
}
#imge2{
    text-align: center;
    
}
#image3{
    align-items: right;
    
}

     


.showing{
    display: none;
}
.show{
    display: none;
}
.shw{
    display:none;
}


#port{
    display: flex;
    flex-wrap:wrap;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.img-container{
    width:300.5px;
    height:200px;
    margin:5px;
    background-size: cover;
    padding:8%;
}
.img-container:hover .project-name{
    display: block;
}
.project-name{
    display:none;
    border:1px; solid  white;
    width:200px;
    height:200px;
    background-color: rgba(255, 255, 255, 0.5);
    
}
#form{
    background-image: url("./img3.jpg");
    height:850px;
    text-align: center;
    color: white;
    font-size: small;
    padding-top: 7%;
}
#mssg{
    height:70px;
    width:70;
    padding-inline-start: 4%;
}
