html {
     
    
}
.container-fluid{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden; 
    
}

#header{
      background-image: url("./img1.jpg");
      background-size: cover;
      /* height:490px; */
      padding-top: 16%;  
      background-position: center;
    text-align: center;
    color: white;
    font-size: large;
    padding-bottom: 7%;
    
}


body{
    text-align: center;
    font-size: x-small;
}
.services{
    background-image: url("./img2.jpg");
     height:170px;
    text-align: center;
    color: #ffffff;
    font-size: medium;
    padding-top: 2%; 
}

#img1{
    text-align: left;
    font-size: medium;

    
   
}
#imge2{
    text-align: center;
    font-size: medium;
    
}
#image3{
    align-items: right;
    font-size: medium;
}

     


.showing{
    display: none;
}
.show{
    display: none;
}
.shw{
    display:none;
}


#port{
    display: flex;
    flex-wrap:wrap;
    margin-left: 8%;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
}
.img-container{
    width:200px;
    height:200px;
    margin:5px;
    background-size: cover;
    padding:8%;
}
.img-container:hover .project-name{
    display: block;
}
.project-name{
    display:none;
    border:1px; solid  white;
    width:200px;
    height:200px;
    background-color: rgba(255, 255, 255, 0.5);
    left: ;
    
}
#form{
    background-image: url("./img3.jpg");
    height:220px;
    text-align: center;
    color: white;
    font-size: small;
    padding-top: 7%;
    background-size: cover;
    background-position: center;
}
#mssg{
    height:70px;
    width:70;
    padding-inline-start: 4%;
}
.mouse-click{
    padding-bottom: 0%;
    margin-top: 9%;
}
.about-us{
    font-size: large;

}
#about-us{
    font-size: 28px;
}
.services-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
}
.wd{
    font-weight: bold;
    font-size: 20px;
}
.wds{
    font-size: 26px;
    font-weight: bold;
}
.p{
    font-weight: bold;
    font-size: 26px;
}
#btn{
    background-color: black;
    color: white;
}